:root {
    --primary: #044389;
    --primary__lighten: #5f87b3;
    --primary__darken: #03254b;
    --secondary: #ffad05;
    --secondary__lighten: #ffca5f;
    --secondary__darken: #ba7c00;
    --success: #5995ed;
    --success__lighten: #95bbf3;
    --success__darken: #315282;
    --info: #7cafc4;
    --info__lighten: #b7d3de;
    --info__darken: #4f707d;
    --warning: #fe9000;
    --warning__lighten: #feb85c;
    --warning__darken: #b96900;
    --danger: #de3c4b;
    --danger__lighten: #ea828c;
    --danger__darken: #8e2730;
}

html,
body {
    font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Racing Sans One", serif;
}

#app {
    background-color: #efefef;
    min-height: 100vh;
}

main {
    min-height: calc(100vh - 56px);
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.btn {
    transition: all 229ms ease-in-out;
    box-shadow: 0 10px 35px 0px rgba(0, 0, 0, 0);
    transform: scale(1) translateY(0px);
}

.btn:hover {
    transform: scale(1.05) translateY(-2px);
    box-shadow: 0 10px 35px 0px rgba(0, 0, 0, 0.2);
}

.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
    transform: scale(1.02) translateY(-1px);
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.4);
}

.btn.disabled,
.btn:disabled {
    opacity: 75%;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary);
    border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: var(--primary__lighten);
    border: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--primary__darken);
    border: none;
}

.btn-secondary {
    color: #fff;
    background-color: var(--secondary);
    border: none;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
    color: #fff;
    background-color: var(--secondary__lighten);
    border: none;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: var(--secondary__darken);
    border: none;
}

.btn-success {
    color: #fff;
    background-color: var(--success);
    border: none;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: var(--success__lighten);
    border: none;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: var(--success__darken);
    border: none;
}

.btn-info {
    color: #fff;
    background-color: var(--info);
    border: none;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
    color: #fff;
    background-color: var(--info__darken);
    border: none;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: var(--info__darken);
    border: none;
}

.btn-warning {
    color: #000;
    background-color: var(--warning);
    border: none;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
    color: #000;
    background-color: var(--warning__darken);
    border: none;
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
    color: #000;
    background-color: var(--warning__darken);
    border: none;
}

.btn-danger {
    color: #fff;
    background-color: var(--danger);
    border: none;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
    color: #fff;
    background-color: var(--danger__darken);
    border: none;
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: var(--danger__darken);
    border: none;
}

.bg-primary {
    background-color: var(--primary) !important;
}
.bg-primary__darken {
    background-color: var(--primary__darken) !important;
}
.bg-primary__lighten {
    background-color: var(--primary__lighten) !important;
}
.bg-secondary {
    background-color: var(--secondary) !important;
}
.bg-secondary__darken {
    background-color: var(--secondary__darken) !important;
}
.bg-secondary__lighten {
    background-color: var(--secondary__lighten) !important;
}
.bg-success {
    background-color: var(--success) !important;
}
.bg-success__darken {
    background-color: var(--success__darken) !important;
}
.bg-success__lighten {
    background-color: var(--success__lighten) !important;
}
.bg-info {
    background-color: var(--info) !important;
}
.bg-info__darken {
    background-color: var(--info__darken) !important;
}
.bg-info__lighten {
    background-color: var(--info__lighten) !important;
}
.bg-warning {
    background-color: var(--warning) !important;
}
.bg-warning__darken {
    background-color: var(--warning__darken) !important;
}
.bg-warning__lighten {
    background-color: var(--warning__lighten) !important;
}
.bg-danger {
    background-color: var(--danger) !important;
}
.bg-danger__darken {
    background-color: var(--danger__darken) !important;
}
.bg-danger__lighten {
    background-color: var(--danger__lighten) !important;
}

.alert-primary {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary__lighten);
}
.alert-secondary {
    color: #fff;
    background-color: var(--secondary);
    border-color: var(--secondary__lighten);
}
.alert-info {
    color: #333;
    background-color: var(--info);
    border-color: var(--info__lighten);
}
.alert-warning {
    color: #333;
    background-color: var(--warning);
    border-color: var(--warning__lighten);
}
.alert-danger {
    color: #fff;
    background-color: var(--danger);
    border-color: var(--danger__lighten);
}
.alert-success {
    color: #fff;
    background-color: var(--success);
    border-color: var(--success__lighten);
}

.text-primary {
    color: var(--primary) !important;
}
.text-secondary {
    color: var(--secondary) !important;
}
.text-success {
    color: var(--success) !important;
}
.text-info {
    color: var(--info) !important;
}
.text-warning {
    color: var(--warning) !important;
}
.text-danger {
    color: var(--danger) !important;
}

.card {
    box-shadow: 0 12px 10px -10px rgba(0, 0, 0, 0.4), 0 15px 10px -8px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.card .card-header {
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.card .card-header .card-title {
    font-weight: bold;
    letter-spacing: 0.3em;
    margin-top: 10px;
    text-transform: uppercase;
}

.table .thead-primary th {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary__darken);
}
.table .thead-secondary th {
    color: #fff;
    background-color: var(--secondary);
    border-color: var(--secondary__darken);
}

input.form-control,
select.form-control,
textarea.form-control,
.input-group-text {
    border-radius: 15px;
    border: 1px solid #ced4da;
}
.input-group-text {
    background-color: #fff;
}

.app-sidebar {
    background-color: var(--primary__darken);
    color: white;
}

.app-sidebar .nav-link {
    background-color: transparent;
    color: white;
    border-radius: 25px;
    margin: 0.25rem 0;
}
.app-sidebar .nav-link.active {
    color: var(--info__lighten);
}
.app-sidebar .nav-link.active,
.app-sidebar .nav-link:hover {
    background-color: var(--primary__lighten);
}
.app-sidebar .nav-link.disabled {
    color: #6c757d;
}
